@import './base/settings';
@import './base/base';


nav{
    position: absolute !important;
    width: 100%;
    top: 10%;
    font-size: $m-size;

    .navbar-brand{
        font-size: $l-size;
        font-family: 'jura';
        font-weight: lighter;
    }
}



#intro{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
}