@import './base/settings';
@import './base/base';

@import './header';
@import './about';
@import './skills';
@import './menu';
@import './mainContent';
@import './footer';

#app {
    max-width: 2000px;
    margin: auto;
    height: 100%;
}

html,
body {
    height: 100vh
}

.header {
    text-align: center;
}

.main_container {
    height: 100%;
    display: flex;
    flex-flow: column;
}